.cube {
    height: 200px;
    width: 200px;
    cursor: pointer;
    border: solid;
}

.add-form {
    border: solid;
    padding: 2em;
    position: absolute;
    background-color: white;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.name {
    font-size: 16px;
}

.todayIs {
    font-size: 28px;
    font-weight: bold;
}

.theDetial,
#dateDetialDisplayer {
    position: absolute;
    height: 400px;
    width: 650px;
    border: solid;
}

#dateDetialDisplayer {
    background-color: white;
}

#spdayDisplayer .cube div {
    color: white;
}

#popWindow {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.312);
    height: 100%;
    width: 100%;
}