.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

body {
    background-color: rgb(238, 238, 238);
    font-family: 'Kumbh Sans', sans-serif;
}

header>div {
    width: 80%;
    margin: auto;
}
header>div>p{
    max-width: 650px;
    margin-bottom: 40px;
    color:rgb(29, 29, 29)
}

h1 {
    font-size: 80px;
    margin-bottom: 0;
}

main {
    width: 80%;
    margin: auto;
}

.cube {
    box-sizing: border-box;
    
    float: left;
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 2px;
    border-radius: 8px;
    cursor: pointer;
}

.cube:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.291);
    transform: rotateZ(-8deg);
    text-shadow:  0px 0px 8px rgb(255, 255, 255);
}
.name {
    font-size: 16px;
    margin-bottom: 5px;
}

.todayIs {
    font-size: 28px;
}
.cubeBack{
    box-sizing: border-box;
    padding: 20px;
    height: 200px;
    border-radius: 8px;    
}
/* special cubes */
#date .todayIs {
    margin-top: 20px;
    font-size: 80px;
    font-family: 'Alatsi', sans-serif;
    text-align: center;
}
#date .name {
    text-align: center;
}

#add-button {
    padding: 30px;
    text-align: center;
}

#add-button h2:first-child {
    font-size: 56px;
    line-height: 56px;
    margin: 0;
}

#add-button h2 {
    font-size: 48px;
    line-height: 48px;
    margin: 0;
}

#add-button p {
    
    font-size: 30px;
    line-height: 32px;
    margin: 0;
}



/* form style */
button {
    background-color: white;
    color: rgb(144, 59, 255);
    border: 2px solid rgb(144, 59, 255);
    border-radius: 20px;
    width: 80px;
    height: 40px;
}

button:hover {
    background-color: rgb(144, 59, 255);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(63, 16, 125);
}

.rightBtn,
.leftBtn {
    position: absolute;
    bottom: 40px;
}

.rightBtn {
    left: 60px;
}

.leftBtn {
    right: 60px;
}

input[type=text] {
    height: 40px;
    width: 280px;
    border: none;
    border-bottom: 2px solid rgb(144, 59, 255);
    /* border-radius: 4px; */
}

input[type=text]:focus {
    outline: none;
    border-radius: 5px;
    background-color: rgb(237, 227, 250);
}

input[type=level] {
    outline: none;
    color: rgb(144, 59, 255);
    background-color: rgb(237, 227, 250);
}

#page1,
#page2,
#page3 {
    color: rgb(58, 58, 58);
    padding: 20px 80px;
}

#page1 label {
    display: block;
    width: 280px;
    margin-bottom: 40px;
}

#page2>label {
    display: block;
    margin-top: 40px;
}

#page2>h2 {
    display: block;
    margin-bottom: 40px;
}

#page3 label {
    display: grid;
    grid-gap: 10px;
}

/* detial showing */
.theDetial .closeBtn {
    position: absolute;
    right: 60px;
    bottom: 40px;
}

.deleteBtn {
    position: absolute;
    right: 165px;
    bottom: 40px;
}

.left,
.right {
    box-sizing: border-box;
    padding: 40px;
    position: absolute;
    top: 0;
    width: 325px;
    bottom: 0;
}

.left {
    left: 0;
}

.left div {
    position: relative;
    margin-top: 80px;
    font-size: 40px;
}

.right {
    border-radius: 0 20px 20px 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
}

.theDetial,
.add-form,
#dateDetialDisplayer {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ;
    height: 400px;
    width: 650px;
    border-radius: 20px;
    padding: 40px;
}

#dateDetialDisplayer,
.add-form {
    background-color: white;
}

#spdayDisplayer .cube div {
    color: white;
}

.theDetial {
    color: white;
}

#popWindow {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.312);
    height: 100%;
    width: 100%;
}